*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #376dd9, #690682);    
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ded5f5;
    margin: 100px auto 20px;
    padding: 30px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #1b015e;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #7765ae;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition-duration: 0.5s;
}

button:hover{
    background-color: #483d6a;
    color: #fff;
}

ul li{
    text-align: start;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    height: 40px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 28px;
    border-radius: 60%;
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/wens/uncheck.png");
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked{
    color:#130b2a;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Eo_circle_purple_white_checkmark.svg/2048px-Eo_circle_purple_white_checkmark.svg.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #130b2a;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #a090cf;
}